.profileSwitcher{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.switcher-div{
    margin-left: 2em;
    width: 10vw;
    background-color: black;
    padding: 1em;
    color: white;
    text-align: center;
    border-radius: 25px;
}
.myLocker-box{
    padding: 2em;
}
.profile-add{
    font-size: 40px;
    justify-content: center;
}
.title-noProducts{
    text-align: center;
}
.profile-linkDiv{
    text-align: center;
}
.productScreen-favorite{
    color: #880808;
    padding: 0.4em;
    border-radius: 25px;
}
.productScreen-favorite:hover{
    color: red;
    cursor: pointer;
}