.navbar-hidden{
    display: none;
    visibility: hidden;
}
.navbar-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    transition: .3s ease-in-out;
    z-index: 100;
}

.stickynavbar-left{
    float: left;
    color: white;
    padding: 0.3em;
    font-size: 24px;
}
.stickynavbar-right{
    float:right;
    color: white;
    padding: 0.3em;
    font-size: 24px;
}
.stickynavbar-col{
    
    text-align: center;
    color: white;
}
.stickynavbar-chat{
    margin-right: 1em;
}
